.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* *********************** header rules **************************** */
#header
{
    background-image: url("./gifastronomie.gif");
    background-repeat: no-repeat;
    width : 100%;
    background-size: cover;
    height : 100vh;
}

#footer
{
  background-image: url("./gifastronomie.gif");
  background-repeat: no-repeat;
  width : 100%;
  background-size: cover;
}

.aboutme
{
  border: 1rem solid;
  width : 100%;
}

.card_1
{
  background-image: url("./original.gif");
  background-repeat: no-repeat;
}

/* *********************** header rules **************************** */
.titleBorder::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: auto;
  width: 30%;
  height: 4px;
  background: #F8533D;
}

/* .compItems li {
    display: inline-block;
    padding: 0 1em;
    margin: 5px;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    color: #fff;
    background: #EE4437;
    opacity: 0;
    transform: translateY(100px);
    transition: all .6s;
} */


