.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* *********************** >768px Rules **************************** */

@media screen and (max-width: 768px)
{

*
{
  font-family: 'Poppins', sans-serif;
}

#header
{
    background-image: url("./gifastronomie.gif");
    background-repeat: no-repeat;
    width : 100%;
    background-size: cover;
    height : 70vh; 
}

.container, .container p, .container h1 
{
  width : 100%;
  height : auto;
  font-size : 1.4em;
  margin : auto;
  padding : auto;
}

.container h2
{
  font-size : 1em;
}

.container p
{
  display : none;
}

.aboutme
{
  border: 0.4em solid;
  width : 100%;
}

#projet
{
  background-image: url("./fondprojets.jpg");
  background-repeat: no-repeat;
  width : 100%;
  background-size: cover;
  height : auto;
}

#nav
{
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0; 
  width: 100%; 
  opacity : 0.8;
  z-index: 9;
}  

/* Links inside the navbar */
.navbar a 
{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.nav-item
{
font-size : 0.9em;
}

.hr
{
  border: 2px solid red;
  width: 50%;
  text-align: center;
}

#section 
{
  background-image: url("./fondcomp.jpg");
  background-repeat: no-repeat;
  width : 100%;
  background-size: cover;
  height : auto;
}

.cardopacity_1, .cardopacity_2
{
  opacity : 0.7;
}

.card
{
  height : 100%;
}

#footer
{
  background-image: url("./gifastronomie.gif");
  background-repeat: no-repeat;
  width : 100%;
  background-size: cover;
  height : auto;
}

#footer p
{
  font-size: 1.2em;
}

#footer h5
{
  font-size : 1.5em;
}

.copyright
{
 vertical-align: bottom;
}

}  

/* *********************** >768px Rules **************************** */
@media screen and (min-width: 768px)
{

#header
{
  background-image: url("./gifastronomie.gif");
  background-repeat: no-repeat;
  width : 100%;
  background-size: cover;
  height : auto;
}

.container, .container p, .container h1, .container h2
{
  width : 100%;
}

.btn
{
  border-radius: 2px solid black;  
  font-size : 1.2em;
}

.aboutme
{
  border: 1rem solid;
  width : 100%;
}

#projet
{
  background-image: url("./fondprojets.jpg");
  background-repeat: no-repeat;
  width : 100%;
  background-size: cover;
  height : auto;
}

#nav
{
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  opacity : 0.7;
  z-index: 9;
}

/* Links inside the navbar */
.nav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.hr
{
  border: 2px solid red;
  width: 50%;
  text-align: center;
}

#section {
  background-image: url("./fondcomp.jpg");
  background-repeat: no-repeat;
  width : 100%;
  background-size: cover;
  height : auto;
}

.cardopacity_1, .cardopacity_2
{
  opacity : 0.7;
}

.card
{
  height : 100%;
}

#footer
{
  background-image: url("./gifastronomie.gif");
  background-repeat: no-repeat;
  width : 100%;
  background-size: cover;
  height : auto;
}

#footer p
{
  font-size: 1.2em;
}

#footer h5
{
  font-size : 1.5em;
}

.copyright
{
 vertical-align: bottom;
}
}


/* *********************** >1900px Rules **************************** */
@media screen and (min-width: 1900px)
{

#header
{
  height : 100vh;
}


#projet
{
  height : 110vh;
}

#nav
{
  opacity : 0.9;
}

.nav-item
{
  font-size : 1.5em;
}

#section 
{
  height : 110vh;
}

.cardopacity_1, .cardopacity_2
{
  opacity : 0.7;
}

.card
{
  height : 100%;
}

#footer
{
  height : 65vh;
}

}






